
/*SETEO VALORES DEL BODY*/

body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/*INICIO DEL HEADER DE TODAS LAS PAGINAS*/

.barra-navegacion{
    background-color: #6610f2;
}

.navbar-brand {
    color: #FFF;
}

.navbar-nav a{
    color: #FFF;
    font-size: 18px;
    margin-left: 3rem;
}

.navbar-nav a:hover{
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(250, 8, 177);
}

/*FIN DEL HEADER*/

/*INCIO SECCION HOLA INDEX*/
.col-md-8{
    background-color: #edddf3;
    
}

.hola{
    color: #d6047f;
    font-size: 55px;
    font: bold;
    margin: 30px;
    letter-spacing: 0.5px;
    animation: abcd 10s infinite;
}

@keyframes abcd{
    0%{margin-left:30px}
    10%{margin-left:15px}
    20%{margin-left:30px}
    30%{margin-right:15px}
    40%{margin-right:30px}
    50%{margin-left:15px}
    60%{margin-left:30px}
    70%{margin-right:15px}
    80%{margin-right:30px}
    90%{margin-left:15px}
    100{margin-left:30px}
}

.nombre{
    color: #320146;
    font-size: 35px;
    margin: 30px;
}

.conoce-mas{
    display: flex;
    align-items: center;
    justify-content: right;
}

.conoce-mas a{
    font-size: 25px;
    color: #d40a80;
    text-decoration: none;
    font: bold;
    margin: 30px;
}

.conoce-mas a:hover{
    color: #fc0b98;
    transition: 0.5s;
    text-shadow: 0 0 7px #fc0b98,
                0 0 30px #fc0b98,
                0 0 80px #fc0b98;
}

/*FIN DE LA SECCION HOLA DEL INDEX*/

/*INCIO DE LAS SECCIONES ACERCA Y METODO DEL INDEX*/

.col-md-6{
    background-color: #7c34f0;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.col-md-6 a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.col-md-6 a:hover{
    color: #d6047f;
    transition: 0.5s;
    text-shadow: 0 0 3px #f78ac9,
                0 0 15px #f78ac9,
                0 0 45px #f78ac9;
}


/*FIN DE LAS SECCIONES ACERCA Y METODO DEL INDEX*/

/*INICIO FOOTER DEL INDEX*/

.col-md-12{
    background-color:#6204f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright{
    font-size: 18px;
    color: #b8066e;
    margin-bottom: 18px;
}

.iconos i{
    color: #FFF;
    font-size: 50px;
    line-height: 65px;
    padding: 1.5rem;
}

/*FIN FOOTER DEL INDEX*/

/*INICIO FOTO CRISTINA DEL INDEX*/

.col-md-4{
    background-image: url(./fotos/foto-3u.jfif);
    background-size: cover;
}

/*FIN FOTO CRISTINA DEL INDEX*/


/*DEFINO EL FOOTER DE LAS PAGINAS ACERCA, METODO, MEDIA Y CONTACTO*/

footer {
    grid-area: footer;
    background: #6610f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto{
    font-size: 18px;
    color: #d6047f;
    margin-top: 18px;
}

.horario{
    font-size: 15px;
    color:#FFF;
    
}

.copyright{
    font-size: 12px;
    color: #d6047f;
    margin-bottom: 18px;
}

.iconos i{
    color: #FFF;
    font-size: 50px;
    line-height: 65px;
    padding: 1.5rem;
}

/*DEFINO EL GRID DE LA PAGINA ACERCA DE MI*/

.grid-container-acerca{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 6fr 2fr;
    grid-template-areas: 
    "cristina-acerca main-acerca"
    "footer footer";
    
}

/*DEFINO LA FOTO CRISTINA DE LA PAGINA ACERCA DE MI*/

.cristina-acerca {
    grid-area: cristina-acerca;
    background: url(./fotos/foto_9\ -\ copia.jfif);
    background-size: cover;
}

/*DEFINO EL MAIN DE LA PAGINA ACERCA DE MI*/

.main-acerca {
    grid-area: main-acerca;
    background:#690691;
}

.hola-acerca{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #d6047f;
    font-size: 25px;
    font: bold;
    margin: 15px;
}

.presentacion-acerca{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #FFF;
    font-size: 20px;
    margin: 15px;
}

.link-main-acerca{
    display: flex;
    align-items: center;
    justify-content: right;

}

.main-acerca a{
    font-size: 20px;
    color: #fc0595;
    text-decoration: none;
    font: bold;
}

.main-acerca a:hover{
    color: #d6047f; 
    transition: 1s;
    text-shadow: 0 0 3px #f880c6,
                0 0 15px #f880c6,
                0 0 45px #f880c6;
}

/*DEFINO EL GRID CONTAINER DE LA PAGINA METODO*/

.grid-container-metodo{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 5fr 2fr;
    grid-template-areas: 
    "main-metodo cristina-metodo"
    "footer footer";
    
}

/*DEFINO EL MAIN DE LA PAGINA METODO*/

.main-metodo {
    grid-area: main-metodo;
    background:#690691;
}

.presentacion-metodo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #FFF;
    font-size: 20px;
    margin: 15px;
}

.head-metodo{
    margin-left: 10rem;
    color: #d6047f;
    font-size:25px;
}

/*DEFINO LA FOTO CRISTINA DE LA PAGINA METODO*/

.cristina-metodo {
    grid-area: cristina-metodo;
    background: url(./fotos/foto.jfif);
    background-size: cover;
}

/*DEFINO EL GRID CONTAINER DE LA PAGINA MEDIA*/

.grid-container-media{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 5fr 2fr;
    grid-template-areas: 
    "main-media main-media"
    "footer footer";
    
}

/*DEFINO EL MAIN DE LA PAGINA MEDIA*/

.main-media {
    grid-area: main-media;
    background:#690691;
}

.contenido-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    margin-bottom: 4rem;
}

.head-imagenes{
    display:grid;
    flex-direction: column;
    justify-content: center;
    color: #d6047f;
    font-size:30px;
}

.galeria-imagenes{
    margin-left: 12rem;
}

/*DEFINO EL GRID CONTAINER DE LA PAGINA CONTACTO*/

.grid-container-contacto{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 9fr 6fr;
    grid-template-areas: 
    "main-contacto main-contacto"
    "footer footer";
    
    

}

/*DEFINO EL MAIN DE LA PAGINA CONTACTO*/

.main-contacto {
    grid-area: main-contacto;
    background:#690691;
}

.contenido-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    margin-bottom: 5rem;
   
}

.head-contacto{
    display:grid;
    flex-direction: column;
    justify-content: center;
    color: #d6047f;
    font-size:30px;
}

.formulario-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 15px;
}

.text-box{
    background: #320146;
    color: #d6047f;
    border: none;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.text-message{
    background: #320146;
    color: #d6047f;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    max-height:400px;

}

.send-btn {
    float: right;
    background: #320146;
    color:#d6047f;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

.send-btn:hover {
    background:#dc89f5;
    box-shadow: 0 0 5px #dc89f5,
                0 0 20px #dc89f5,
                0 0 60px #dc89f5;
}
